<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block title %}
            <title>Casa Criativa</title>
        {% endblock title %}
        
            <meta charset="UTF-8">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body id="{{bodyId}}">
        <div id="container">


            {% block content %}
            {% endblock%}
            
        
        
        </div>
        <!-- Modal-->
        {% include "modal.html" %}
        <!-- Fim do Modal-->
        <script src="main.js"></script>
    </body>
</html>